@section Headerimg{
    <header class="header_area white-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="~/home/Index">
                        <img src="~/img/FaaelNew.jpeg" style="border-radius:50% ; height:50px" alt="" />
                    </a>
                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset"
                         id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="~/home/index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/home/about">About</a>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <a href="#"
                                   class="nav-link dropdown-toggle"
                                   data-toggle="dropdown"
                                   role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false">All Services</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/home/Delegates">Delegates</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/home/RecommendedTable">Recommended Tables</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="~/home/CreateYourTable">Create Your Table</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/home/Contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>


    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="banner_content text-center">
                            <h2>About Us</h2>
                            <div class="page_link">
                                <a href="~/home/index">Home</a>
                                <a href="~/home/About">About</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<br />


<div class="container">
    <center>
        <h2>Who we are?</h2>
    </center>

    <div>
        <p>
            Faael Khair is an online platform for open source group courses (MOOCs).The platform was established at the initiative of some students of the Higher Institute of Technology, in order to make all efforts and endeavors to facilitate the students' access to information, videos and documents, and to make the student excel in the field of education, as they are the cornerstone for the development and prosperity of peoples.


        </p>
        <br />

        <p>
            In line with our belief in the importance of education and its impact on improving the quality of life of societies, countries and individuals and their prosperity at all levels, the Benefactor platform aims to provide high-quality educational courses based on the development of their contents by elites of the professors of the Higher Institute of Technology, in addition to offering some other practical courses.
        </p>
        <br />
        <p>
            We created this site to be the entity in which all efforts are united, and with the increase in the number of people participating, we have hidden all their identities so that we do not forget to mention anyone's effort.
        </p>
        <br />
        <p>
            Finally.. we would like to give all thanks, gratitude, appreciation and the outcome of our efforts to all those who left us in the middle of the road, those whom we took as our role models and ideals.  God bless our dead.  Your memory is forever.

        </p>
    </div>


    <div class="row justify-content-center d-flex align-items-center">
        @foreach (var item in ViewBag.Teacher)
        {
            <div class="col-lg-3 col-md-6 col-sm-4 single-trainer">
                <center>
                    <img class="img-fluid" style="border-radius:50%" src="~/img/Memory/@item.Image" alt="" />
                    <h4>@item.Name</h4>
                    <p>@item.Title</p>
                    <p class="designation">@item.Date</p>
                </center>

            </div>
        }
    </div>
    <br />
    <hr />
    <br />

    <div class="row justify-content-center d-flex align-items-center">
        @foreach (var item in ViewBag.Student)
        {
            <div class="col-lg-2 col-md-6 col-sm-4 single-trainer">
                <center>
                    <img class="img-fluid" style="border-radius:50%" src="~/img/Memory/@item.Image" alt="" />
                    <h4>@item.Name</h4>
                    <p>@item.Title</p>
                    <p class="designation">@item.Date</p>
                </center>

            </div>
        }
    </div>


</div>